<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  	<body class="<%= classname %>" >

  	<% include partials/page/header.ejs %>
	  	<!-- container -->
	  	<div class="container">
	  		<!-- passing a object from app.js/res.render -->
			<h1><%= pagetitle %>--<%= title %></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget erat sed sapien consectetur elementum.</p>

		<% if (typeof(users) !== 'undefined') { %>
			<ul>
			 <% for (var i=0; i<users.length; i++) { %>
				<li><%= users[i] %></li>
				<% } %>
			</ul>
		<% } %>
			
	  	</div><!-- container -->

	<% include partials/page/footer.ejs %>
	<% include partials/page/jsdefaults.ejs %>
    </body>
</html>



